<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Forecast for {{location}}</title>
</head>

<body class="forecast-body">
    <div class="weather-container">
        <h1>Forecast for {{location}}</h1>
        <div class="forecast">
            <img src="{{ url_for('static', filename='icons/' + svg_name) }}" alt="weather-icon" class="icon">
            <div>
                <strong>Temperature:</strong> {{current_forecast['main']['temp']}}°C
            </div>
            <div>
                <strong>Feels like:</strong> {{current_forecast['main']['feels_like']}}°C
            </div>
            <div>
                <strong>Humidity:</strong> {{current_forecast['main']['humidity']}}%
            </div>
            <div>
                <strong>Wind Speed:</strong> {{current_forecast['wind']['speed']}} m/s
            </div>
        </div>

        <div class="five_day_forecast">
            {% for day in days %}
            <div class="day-container">
                <div class="day-info">
                    <p><strong>{{ day.dt.split(' ')[0] }}</strong> </p>
                    <img src="{{ url_for('static', filename='icons/' + day.icon_filename) }}" alt="weather-icon"
                        class="five_day_icon">
                    <p><strong>Temperature:</strong> {{ day.main.temp }}°C</p>
                    <p><strong>Feels like:</strong> {{ day.main.feels_like }}°C</p>
                    <p><strong>Humidity:</strong> {{ day.main.humidity }}%</p>
                    <p><strong>Wind Speed:</strong> {{ day.wind.speed }} m/s</p>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>