<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Homepage</title>
</head>

<body>
    <div id="header">
        <h1>WebWeave - Where Imagination Meets Innovation</h1>
    </div>
    <div class="contentContainer">
        <div id="weatherIcon">
            <a href="/weather-forecast"><img src="static/icons/overcast-day-drizzle.svg" alt="overcast-day-drizzle"
                    class="icon"></a>
        </div>
        <div id="timeCalculatorIcon">
            <a href="/time-calculator"><img src="static/icons/animatedClock.svg" alt="clock" class="icon"></a>
        </div>
    </div>

</body>

</html>